[Unit]
Description=Run Tobelog Backup Daily at 2 AM
Documentation=https://github.com/junichiro/tobelog
Requires=tobelog-backup.service

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1min
RandomizedDelaySec=600

[Install]
WantedBy=timers.target